@import "reset.css";

:root {
    --primary: hsl(30, 78%, 55%);
    --font-color: #213547;
    --font-body: system-ui, Helvetica, Arial, sans-serif;
    --font-heading: ui-serif, Georgia, Cambria, Times New Roman, serif;
    --background-color: #ffffff;

    --font-size: 1rem;
    --font-size-xl: 2rem;
    --gap: 1rem;
    --gap-l: 1.25rem;

    color-scheme: light dark;
    color: var(--font-color);
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-body);
    touch-action: manipulation;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: hsl(30, 78%, 55%);
        --font-color: rgba(255, 255, 255, 0.87);
        --font-color-muted: rgba(255, 255, 255, 0.6);
        --background-color: #242424;
    }
}

@media (min-width: 500px) {
    :root {
        --font-size: 1.25rem;
        --font-size-xl: 3rem;
        --gap: 1.5rem;
        --gap-l: 2rem;
    }
}

body {
    padding: 1rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: var(--gap);
}

h1 {
    font-size: var(--font-size-xl);
}

h1 span {
    font-size: calc(var(--font-size-xl) * 2);
    line-height: 1rem;
    color: var(--primary);
}

p {
    line-height: 1.5;
    max-width: 55ch;
    text-wrap: balance;
}

.calendar {
    display: none;
}

.calendar p {
    font-size: var(--font-size);
}

.calendar p em {
    font-style: normal;
    color: var(--primary);
    text-decoration: underline wavy;
    text-underline-offset: 0.5rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: var(--gap-l) 0;
    gap: var(--gap);
}

.buttons a,
.buttons button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1.5rem;
    background: none;
    border: 3px solid var(--primary);
    border-radius: 1.75rem;
    height: 3rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-decoration: none;
    color: var(--font-color);
}

.buttons button {
    border-color: lightgray;
}

.buttons a:hover {
    color: var(--background-color);
    background-color: var(--primary);
}

.buttons button:hover {
    color: var(--background-color);
    background-color: lightgray;
    cursor: pointer;
}

footer a,
p a {
    color: var(--primary);
    text-decoration: none;
}

footer a:hover,
p a:hover {
    text-decoration: underline;
}
